body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin:0px;
    font-family: 'sacramento',cursive;
}

h2{
    font-family: 'Montserrat',sans-serif;
}
h3{
    font-family: 'Montserrat',sans-serif;
}

.Top-container{

    background-color: #E4f9f5;
    position: relative;
    padding-top: 100px;
    
}
.Middle-container{
    background-color: red;
    
}

.Lower-container{
    background-color: blue;
    
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    
}

.top-cloud{
    position:absolute;
    right:300px;
    top: 50px;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }
a.footer-link:hover, a.footer-link:active {font-size: 150%;}
